<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Workers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let w of workerslist"  class="ion-margin-start">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{w.profile_pic}}">
      </ion-avatar>
      <ion-label><b>{{w.name}}</b></ion-label>
      <ion-label>({{w.workersdetails[0].available_status}})</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-chip>
        <ion-avatar>
          <img src="{{w.profile_pic}}">
        </ion-avatar>
        <ion-label>{{w.name}}</ion-label>
      </ion-chip>
    
    </ion-item> -->
   
    <ion-item>
      Category:{{w.workersdetails[0].job_category}}

    </ion-item>
    <!-- <ion-item>
      Location:
    </ion-item> -->
    <ion-item>
      <ion-button (click)="bookworker(this.w._id)">
        Book now
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
