<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">About</ion-card-header>
    <ion-item>
      <p>
        Complete Home Solutions is an application for people to search the workers for their house hold works and make appointment with them.
        It provide a platform for users to create their job profile and improve their works
      </p>
     
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary">Help</ion-card-header>
    <ion-item>

      <p>
        For more informations and details log on to www.chs.in

      </p>
    </ion-item>
    
  </ion-card>
</ion-content>
