<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Worker Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let q of w">
  
  <ion-card>
    <ion-item>
      <ion-label>Change Working Time</ion-label>
    </ion-item>
    
 
    <ion-item>
     
      <ion-label  color="primary">
         Start from:{{q.job_start_time | date:'shortTime'}}
      </ion-label>
    
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="" [(ngModel)]="s"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button (click)="changestarttime()">Save</ion-button>
    </ion-item>
     <ion-item>
      <ion-label  color="primary">
        To:{{q.job_end_time | date:'shortTime'}}
      </ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="" [(ngModel)]="e"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button (click)="changeendtime()">Save</ion-button>
    </ion-item>
    
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Change salary:{{q.job_salary}}</ion-label>
      <ion-input [(ngModel)]="sal" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="changesalary()">Save</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Change Job Description</ion-label>
    </ion-item>
   
    <ion-item>
      <ion-text>{{q.job_description}}</ion-text>
     </ion-item>
      <ion-item>
       <ion-input [(ngModel)]="des"></ion-input></ion-item>
    <ion-item>
      <ion-button (click)="changedescription()">Save</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
