<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
    <ion-label>View Bookings</ion-label>
    <ion-toggle [(ngModel)]="worker" (ionChange)="viewworker()"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="w">
    <ion-label>View works</ion-label>
    <ion-toggle [(ngModel)]="job" (ionChange)="viewjobs()"></ion-toggle>
  </ion-item>

  <ion-card  *ngIf="worker">
    <ion-card *ngFor="let p of pages">
      <ion-item (click)="workerdetails(this.p.workerid)">
        <ion-avatar slot="start">
          <img src="{{p.workerdetails[0].profile_pic}}">
        </ion-avatar>
        <ion-label><b>{{p.workerdetails[0].name}}</b></ion-label><br>
       
      
  
      </ion-item>
    </ion-card>
  </ion-card>
  <ion-card  *ngIf="job">
    <ion-card *ngFor="let p of jobs">
      <ion-item (click)="jobdetails(this.p.userid,this.p._id)">
        <ion-avatar slot="start">
          <img src="{{p.workerdetails[0].profile_pic}}">
        </ion-avatar>
        <ion-label><b>{{p.workerdetails[0].name}}</b></ion-label><br>
       
      
  
      </ion-item>

    </ion-card>
    
  </ion-card>

</ion-content>
