<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Become Worker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-text color="danger">
<h2>Guide Lines</h2>
Please enter correct informations and document.For accepting online payments you have to create account in razorpay and generate keyid and fill in the
form. <a href="https://razorpay.com/">Click here to create razorpay account</a>
</ion-text>
    <form [formGroup]="workerForm" (ngSubmit)="submit()">
      <ion-card>
      
        <ion-item>
          <ion-label  color="primary">Select a job</ion-label>
          <ion-select formControlName="job_category" >
            <ion-select-option  *ngFor="let p of joblist" value="{{ p.category }}">{{ p.category }}</ion-select-option>
           
          </ion-select>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
         
          <ion-label  color="primary">
             Start from
          </ion-label>
        
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="" formControlName="job_start_time" ></ion-datetime>
        </ion-item>
         <ion-item>
          <ion-label  color="primary">
            To
          </ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="" formControlName="job_end_time" ></ion-datetime>
        </ion-item>
        
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label  color="primary" position="floating">Expected Service Charge(per day)</ion-label>
          <ion-input type="text" formControlName="job_salary" inputmode="text"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label color="primary">Select a verification method</ion-label>
          <ion-select formControlName="job_verification" >
            <ion-select-option value="license">License</ion-select-option>
            <ion-select-option value="adhaar">Adhaar</ion-select-option>
            <ion-select-option value="voterid">Voter ID</ion-select-option>
            <ion-select-option value="sslc">SSLC</ion-select-option>
           
          </ion-select>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label  color="primary" stacked>Upload the document</ion-label>
          <input type="file"  (change)="encodeImageFileAsURL($event)" id="inputFileToLoad">
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label  color="primary" position="floating">Razorpay Key ID</ion-label>
          <ion-input formControlName="keyid" inputmode="text"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
      
        <ion-item>
          <ion-textarea placeholder="Description about the job" formControlName="job_description" ></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <label for="options">Job Type</label>
          <div *ngFor="let option of options">
              <label>
                  <input type="checkbox"
                  formControlName="jobtype"
                         value="{{option.value}}"
                         [(ngModel)]="option.checked"/>
                  {{option.name}}
              </label>
          </div>
         </ion-item>
        
      </ion-card>
      <ion-button [disabled]="!workerForm.valid" expand="block" color="success" type="submit">Save</ion-button>
      <!-- <ion-button expand="block" color="danger">Cancel</ion-button> -->
  
    
  
  </form>

</ion-content>
