<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Earnings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let e of earn">
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{e.userdetails[0].profile_pic}}">
    </ion-avatar>
   {{e.userdetails[0].name}} : ₹{{e.payment}}
  </ion-item>
  <ion-item>
    Paid at {{e.datetime | date: 'dd MMM yyyy hh:mm a'}}
  </ion-item>
</ion-card>
</ion-content>
