<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <form [formGroup]="jobForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Add jobs</ion-label>
        <ion-input formControlName="category" inputmode="text"></ion-input>
      </ion-item>
      
    </ion-card>
    <ion-card>
      <ion-item>
        
          <ion-button [disabled]="!jobForm.valid" color="primary" expand="block" type="submit" class="ion-no-margin">Add job</ion-button>
         
        
      </ion-item>
    </ion-card>
    
  </form>
</ion-card>

</ion-content>
